<h1>メンテナンス管理シート</h1><br>

<table border="1">
    <thead>
        <tr>
            <th class="header1">登録日</th>
            <th class="header2">機械名</th>
            <th class="header3">メンテ箇所</th>
            <th class="header4">メンテ作業時間目安</th>
            <th class="header5">メンテ間隔</th>
            <th class="header6">実施期日</th>
        </tr>
    </thead>
    <tbody>
        <% @machine.each do |machine| %>
            <tr>
                <td>4/10</td>
                <td><%= machine.name %></td>
                <td>表紙出口</td>
                <td>20分</td>
                <td>7日</td>
                <td>4/17</td>

            </tr>
        <%end%>
    </tbody>
</table>

<%= link_to "機械名登録", new_machines_path %>